<form action="/main/add_hmapping" method = "post">
  <p>
    <label>Header</label>
    <select name = "header">
      <option value = "From">From</option>
      <option value = "Distribution">Distribution</option>
      <option value = "Subject">Subject</option>
    </select>
  </p>
	<p>
		<label>Key Word:</label>
		<input name = "key_word" type = "text">
	</p>
	<p>
		<label>Result:</label>
		<input name = "result" type = "text">
	</p>
	<p>
		<input type = "submit">
	</p>
</form>
