<form action="/main/add_ml" method = "post" enctype = "multipart/form-data">
	<p>
		<label>MemberList Name:</label>
		<input name = "ml_name" type = "text">
	</p>
  <p>
  <table border="1" cellpadding="4">
    <tr>
      <td> </td>
      <th>user_domain</th>
      <th>user_name</th>
      <td>permission</td>
    </tr>
    <% @hosts.each do |d,n| -%>
    <tr>
      <td><%= check_box_tag n, '1',true %></td>
      <th><%= d %></th>
      <th><%= n %></th>
      <td>
        <select name = <%= n+"perm" %> >
          <option value = "r">read</option>
		      <option value = "a">administrator</option>
		    </select>
      </td>
    </tr>
    <% end -%>
  </table>
  </p>
  <p><input type = "submit"></p>
</form>
