<form action="/main/add_host" method = "post">
	<p>
		<label>Host Name:</label>
		<input name = "host_name" type = "text">
	</p>
	<p>
		<label>Host Domain:</label>
		<input name = "host_domain" type = "text">
	</p>
	<p>
		<label>Feed:</label>
		<input name = "feed" type = "text" value = "*">
	</p>
  <p>
    <label>Control Message</label>
    <select name = "control">
      <option value = "enable">enable</option>
      <option value = "disable">disable</option>
      <option value = "request">request</option>
      <option value = "refuse">refuse</option>
    </select>
  </p>
	<p>
		<input type = "submit">
	</p>
</form>
