<form action="/main/add_localhost" method = "post">
	<p>
		<label>Host Name:</label>
		<input name = "host_name" type = "text">
	</p>
	<p>
		<label>Host Domain:</label>
		<input name = "host_domain" type = "text">
	</p>
	<p>
		<input type = "submit">
	</p>
</form>
