<%= button_to "add memberlist",{:controller => 'main', :action => 'add_ml'},{:method => :get} %>
<table border="1" cellpadding="4">
<tr>
<th>name</th>
<td>administrator</td>
<td>create time</td>
<td>version</td>
</tr>
</table>
