<%= button_to "add memberlist",{:controller => 'main', :action => 'add_ml'},{:method => :get} %>
<table border="1" cellpadding="4">
<tr>
<th>name</th>
<td>version</td>
<td>action</td>
</tr>
<% @list.each do |n,v| -%>
<tr>
<th><%= n %></th>
<td><%= v %></td>
<td><%=  button_to "show",{:controller => 'main',:action => 'update_ml',:ml_name => n},{:method => :post} %></td>
</tr>
<% end -%>
</table>
