<h1>Friend News System System Status</h1>
<table border="1" cellpadding="4">
<tr>
<td>name</td>
<td>value</td>
<td>action</td>
</tr>
<% @stat.each do |n,v| -%>
<tr>
<td><%= n %></td>
<td><%= v %></td>
<td><%= button_to "edit" %></td>
</tr>
<% end -%>
<table/>
