<form method="post" action="/fnsclient/post">
<p>From:<input type="text" name="from"></p>
<p>Subject:<input type="text" name="subject"></p>
<p>Tag:<input type="text" name="tag"></p>
<p>Distribution:<input type="text" name="distribution"></p>
<textarea name="body" rows=5 cols=50></textarea>
<br>
<input type="submit" value="post">
</form>
<%= @result %>
